# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
# .vscode
.vscode
# cache
.cache
# main
main
# program
program
# Precompiled Headers
*.gch
*.pch
# bin
# bin
# Cmake
CMakeFiles
# build
build
# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
